:root {
  /* Colours */
  --color-bg: #f2fbff; /* page background */

  /* Header */
  --color-head-bg: #1e62d0; /* Header baggrundsfarve */

  /* Logotype */
  --color-logotype-bg: #000000; /* Logo baggrundsfarve */
  --color-text-logotype: #ffffff; /* Logotekst farve */
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #c8daf0; /* Menubar skifter farve */
  /* Links */
  --color-link-bg: #ffffff; /* knappernes baggrundsfarve */
  --color-link-hover: #ff691f; /* gør knapperne orange ved hover */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #1e62d0;
  --color-cta-card-bg: #1e62d0;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #585a5e;
  --color-cta-newscard-bg: #787473;
  --color-cta-newscard-bg-inverted: #4872f1;

  /* Fonts */
  --font-family-sans: "Rubik", "ui-sans-serif";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #1e62d0; /* nærkontaktside bokse */
  --color-infobox-1-bg: #c8daf0; /* nærkontaktside info-box farve */
  --color-infobox-2-bg: #ff691f; /* nærkontaktside info-box farve */
}
