:root {
  /* Colours */
  --color-bg: #f2fbff; /* page background */

  /* Header */
  --color-head-bg: #1e62d0;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #dbe2f5;

  /* Links */
  --color-link-bg: #ffffff;
  --color-link-hover: #6f90eb;
  --color-link-active: #1e62d0;
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;

  --color-headline-bg: #1e62d0;
  --color-headline-text-page: #000000;

  /* Tekst */
  --color-text: #000000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #1e62d0;

  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #ff691f;
  --color-cta-newscard-bg-inverted: #ffffff;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Arial, sans-serif;

  /* Hvis du senere aktiverer vægte i general.css */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes (de her bruges i general.css på menu osv.) */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 20px;
  --followup-text-size: 14px;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #dbe2f5;
  --color-infobox-1-bg: #ffffff;
  --color-infobox-2-bg: #dbe2f5;
}
